body{
    /* background-image: url('../images/low-angle-shot-mesmerizing-starry-sky.jpg'); */
    background-color: rgb(0, 0, 51);
    font-family: 'Roboto', sans-serif;
    user-select: none;
}

nav{
    margin: 10px auto 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    height: 80px;
}

.logo{
    width: 150px;
}

.logo img{
    width: 100%;
}

ul{
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin: 0;
    list-style-type: none;
}

 .a{
    color: #337ab7;
    text-decoration: none;
    transition: 0.3s;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
}

.a:hover{
    color: white;
    background-color: #337ab7;
    text-decoration: none;
}

.options{
    display: none;
    transition: 0.3s;
}

canvas{
    width: 100%;
    max-height: 100vh;
    background-image: url('../images/low-angle-shot-mesmerizing-starry-sky.jpg');
    height: calc(100vh - 90px);
    width: 80%;
    border-radius: 10px;
    animation: gradient2 60s ease-in-out infinite;
    max-height: 600px;

}

@keyframes mymove {
    0%   {left: 0px;}
    25%  {left: 200px;}
    50%  {left: 100px;}
    75%  {left: 200px;}
    100% {left: 0px;}
  }

  @keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
  @keyframes gradient2 {
    0% {
        background-position: 0% 0%;
    }
    100% {
        background-position: 100% 0%;
    }
    
}
#globe{
    display: flex;
    align-content: center;
    justify-content: center;
}

.canv{
    display: flex;
    margin: 10px 0;
    width: 100%;
    justify-content: space-between;

}

.canv .track{
    background-color: white;
    border-radius: 10px;
    max-height: 600px;
    width: 270px;
    padding: 20px;
}

.canv .track h1{
    color: #337ab7;
}

.canv .track h3{
    padding-left: 10px;
}

.canv .track .att{
    width: 100%;
    margin: 10px auto;
    height: 40px;
    background-color: rgb(216, 216, 216);
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.opt{
    position: fixed;
    z-index: 3;
    background-color: white;
    border-radius: 10px;
    width: 20%;
    height: 600px;
    right: 12%;
    top: 14%;
}